.title-wr {
    display: flex;
    align-items: center;

    img {
        width: 20px;
        height: 20px;
        margin: 5px;
        margin-left: 20px;
    }
}

#title {
    margin: 5px;
    margin-left: 0;
}

.user-list-wr {
    padding-top: 20px;
}