.task-wr {
    padding: 5px 0 5px 0;
    font-size: 18px;
    font-family: 'Gilroy Semibold';

    width: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;

    * {
        box-sizing: border-box;
    }
}

.task-mark {
    min-width: 10px;
    min-height: 10px;
    margin-right: 10px;
    border-radius: 5px;
}

.task {
    width: 100%;
    display: flex;
    align-items: center;
    height: 40px;
    padding: 5px 50px 5px 50px;
    background: white;
    border-radius: 3px;
    border-bottom: 1px solid #d9dce9;

    div > span{
        margin-right: 30px;
    }
}

.task-info {
    cursor: pointer;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.task-actions {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    img {
        height: 20px;
        width: 20px;
        margin-right: 10px;
        cursor: pointer;
    }
}

.task-additional-info {
    background: white;
    padding: 10px 50px 10px 50px;
    width: 100%;
    border-radius: 3px;
    font-size: .85em;
    font-family: Gilroy;

    .additional-info-title {    
        margin-bottom: 10px;
    }
}

.task-field {
    .key {
        margin-right: 5px;
    }
    
    .value {
        font-family: 'Gilroy Italic';
    }
}

.task-edit {
    padding: 10px 50px 10px 50px;
    width: 100%;
    background: white;
    border-radius: 3px;
}